<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
<head>
  <meta charset="UTF-8">
  <title th:text="#{member.register}"></title>
</head>
<body>
<div class="container">
<h2 th:text="#{term}" class="mt-4"></h2>
  <hr/>
<p>약관 내용</p>
<form th:action="@{/register/step2}" method="post">
  <label>
    <input type="checkbox" name="agree" value="true"> <span th:text="#{term.agree}"></span>
  </label>
  <br />
  <input type="submit" th:value="#{next.btn}" value="다음 단계" class="btn btn-secondary mt-4" />
</form>
</div>
</body>
</div>
</html>
